<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<style type="text/css">
    b {
        font-size: 16px;
    }
    .center {
        text-align: center;
        margin-bottom: 27px;
        text-transform: capitalize;
    }
    .data-with{
        width: 46% !important;
    }
    .data-notify-text{
        margin-right: 322px!important;
    }
</style>
<body>

<div ng-app="mainApp" data-ng-controller="crud_Controller" >

    <div class="" ng-init="init()">

        <div class="col-md-6" ng-style="css_form">
            <form name="myForm">
            <h3 class="center">Add Employee Details </h3>
            <!--<div class="col-md-3">
                <b>Id:</b>
            </div>
            <div class="col-md-3">
                <input type="Number" class="form-control"  ng-model=" EmpModel.Id">
            </div>-->
            <div class="col-md-3">
                <b>First Name :</b>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" name="app"  ng-model=" EmpModel.Firstname" required ng-init="myVar =false">
                <span ng-if="myVar">{{myForm.app.$valid}}</span>
            </div>

            <div class="col-md-3">
                <b>Last Name :</b>
            </div>
            <div class="col-md-3">
                <input type="text" class="form-control" name="app" ng-model=" EmpModel.LastName" required ng-init="myVar =false">
                <span ng-if="myVar">{{myForm.app.$valid}}</span>
            </div>
            <p>&nbsp;</p>
            <div class="col-md-3">
                <b>Email ID :</b>
            </div>
            <div class="col-md-3" ng-pattern="emailFormat">
                <input type="email" class="form-control"  ng-model=" EmpModel.Emailid">
            </div>

            <div class="col-md-3">
                <b>Phone No :</b>
            </div>
            <div class="col-md-3">
                <input type="number" class="form-control  "   ng-model=" EmpModel.PhoneNo">
            </div>
            <p>&nbsp;</p>
            <div class="col-md-9">
                <button type="submit" class="btn btn-primary add-btn" value=" "  ng-click="addData()">Add</button>
                <button  class="btn btn-info update-btn" value=""  ng-click="updateData()">Update</button>
                <button type="submit" class="btn btn-primary cnl-btn" value=" "  ng-click="clearModel()">Cancel</button>
            </div>
            </form>
        </div>

        <div class="col-md-12" ng-style="css_form_table" >
            <table border="1" style="width: 100%" class="table table-striped table-hover"  >
                <thead class="center">
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email ID</th>
                    <th>Phone No</th>
                    <th>Action</th>
                </thead>
                <tbody>
                <tr ng-repeat="Emp in EmpList track by  $index ">
                    <td>{{ Emp.Id }}</td>
                    <td>{{ Emp.Firstname }}</td>
                    <td>{{ Emp.LastName }}</td>
                    <td>{{ Emp.PhoneNo }}</td>
                    <td>{{ Emp.Emailid }}</td>
                    <td class="center">
                        <i class="fa fa-pencil-square-o btn btn-info" ng-click="editData(Emp)" title="Edit"></i>
                        <i class="fa fa-trash btn btn-danger" ng-click="removeRow($index)" title="Delete"></i>
                        <!--<button ng-click="removeRow($index)" class="btn btn-danger">Delete</button>-->
                        <!-- <input type="button" value="Delete"  ng-click="DeleteData(Emp)" />-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>

</body>
</html>
<script src="angular.js"></script>
<script src="main.js"></script>
<script src="notify.js"></script>